// Specific CSS for your home-page
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh !important;
  flex-grow: 1;
  // overflow: scroll;
}

.main-content {
  flex-grow: 1;
}

.main-content-home {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 49px - 58px);
  overflow: scroll;
  flex-grow: 1;

}
