<div class="booking-form", data-controller = "checkifdate">
  <%= simple_form_for [venue, booking] do |f| %>
    <%= f.input :date, as: :string, label: "", placeholder: "yyyy-mm-dd", input_html: { data: { controller: "flatpickr", checkifdate_target: "datefield", action: "change->checkifdate#disableButton" }, class: "input_field"} %>
    <% if user_signed_in? %>
      <%= f.submit "Book now", id:"create-booking", data: { checkifdate_target: "buttonlistener" }, class: "btn btn-gradientdeux" %>
    <% else %>
      <div class="button">
      <%= link_to "Book now", new_user_session_path, data: {turbo_method: :create, turbo_confirm: "You need be logged in to book"}, class: "btn btn-gradientdeux" %>
      </div>
    <% end %>
  <% end %>
</div>
