<% if user_signed_in? %>
<div class="d-flex justify-content-center align-items align-content-center branding-navbar">
 <%= image_tag "favicon.ico", class:"icon-branding" %>
  <p> Where2Work </p>
</div>
<% end %>
