        <%=link_to venue_path(venue) do  %>
          <div class="venue-card">
            <%= cl_image_tag venue.photo.key, :class=>"venue-image", :alt=>"venue image", :width=>350, :height=>250 %>
            <%= tag.p venue.name, class: 'venue-text' %>
            <div class="index-rating">
              <% venue.average_rating.to_i.times do %>
                <i class="fas fa-star"></i>
              <% end %>
              <% (5 - venue.average_rating.to_i).times do %>
                <i class="far fa-star"></i>
              <% end %>
            </div>
          </div>
        <% end %>
