.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 2em;
  font-weight: bold;
  margin: .5em 0 0 0;
}
.card-trip h3 {
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin-bottom: 0.5em;
}

.card-trip .card-trip-infos {
  padding: 1em 1em 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.card-trip-infos .card-trip-review {
  position: absolute;
  text-transform: uppercase;
  background-color: #d1e751;
  color: white;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 1.5em;
  font-weight: bold;
  background: linear-gradient(#422800, #AF795D);
  transition: background 0.3s ease;
  border: 1px solid white;
  margin-top: 2.0em;
  right: 0.5em;
  top: -3.3em;
  width: 20%;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  font-size: 1em;
}
.card-trip-infos .card-trip-review i {
  font-size: 2em;
}
.card-trip-infos .card-trip-user {
  position: absolute;
  text-transform: uppercase;
  background-color: #d1e751;
  color: white;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 1em;
  font-weight: bold;
  background: linear-gradient(#422800, #AF795D);
  transition: background 0.3s ease;
  border: 1px solid white;
  margin-top: 2.0em;
  left: 0.5em;
  top: -2.8em;
  width: 25%;
  padding-top: 0.2em;
  padding-bottom: 0.2em
}

.card-trip-heart {
  position: absolute;
  right: 0.25em;
  top: 1.5em;
  width: 40px;
  color: #422800;
}
.fa-regular .fa-heart {
  color: #422800;
}

.avatar {
  width: 40px;
  border-radius: 50%;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
input#session-date {
  display: inline-block;
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
.fa-star {
  color: #FDBC1F;
}
.card-trip-infos .fa-heart {
  color: #FE8668;
}

.venue-title {
  padding: 1em;
  margin: 0;
}
.venue-title h3 {
  padding: 0;
  margin: 0;
}
.white-link {
  color: white;
  text-decoration: none;
}
.booking-form {
  padding: 1em;
  width: 50%;
}

.review-card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.review-card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.review-card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.review-card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.review-card-trip-infos .review-card-trip-pricing {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  align-items: flex-end;
}

.review-card-trip .review-card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.review-card-trip-infos .review-card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-trip-booking {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip-booking > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip-booking h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip-booking p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip-booking .card-trip-infos-booking {
  padding: 0.5em 0.5em 0 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos-booking .card-trip-user-booking {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
.visit-title {
  margin: 1em;
}
#booking-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1em;
}

.card-trip-infos-booking p {
  margin: 1em 0 1em 0;
}
.card-product-booking img {
  width: 250px;
}
