.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

// .progress {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-color: #1f1f1f;
//   z-index: 99996;
//   height: 100%;
//   width: 100%;
//   overflow: hidden !important;
// }
