.banner {
  background-size: cover;
  background-position: center;
  padding: 3em 0;
  min-height: 85vh;
}

.banner h1 {
  margin: 0;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 3em;
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.8em;
}
.banner h2 {
  margin: 0;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 2em;
  font-weight: bold;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
