.branding-navbar{
    display: flex;
    justify-items: center;
    background-color: rgb(66, 40, 0);
    color: white;
    padding-top: 14px;
}

.icon-branding{
  width: 18px;
  height: 18px;
  margin-right: 4px;
}
