.branding-navbar{
  display: flex;
  flex-direction: row;
  justify-items: left;
  background-color: rgb(66, 40, 0);
  color: white;
  padding-top: 1em;
  padding-left: 1em;
}

.icon-branding{
  width: 2em;
  height: 2em;
  margin-right: 0.5em;
}
