.branding-navbar {
  display: flex;
  flex-direction: row;
  justify-items: left;
  background-color: #704628;
  color: white;
  font-family: 'Quando', serif!important;
  padding-top: 1em;
  padding-left: 1em;
}

.icon-branding {
  width: 2em;
  height: 2em;
  margin-right: 0.5em;
}

.branding-navbar p{
  font-size: large;
}
