.btn-group button {
  background-color: #846046;
  border: 1px solid black;
  /* Green border */
  color: white;
  /* White text */
  padding: 10px 24px;
  /* Some padding */
  cursor: pointer;
  /* Pointer/hand icon */
  float: left;
  /* Float the buttons side by side */
  width: 25%;
  border-radius: 15%;
}

.btn-group {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.btn-group button:not(:last-child) {
  border-right: none;
  /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #6f513c;
}
