.btn-group button {
  border: 1px solid rgba(145, 134, 134, 0.54);
  box-shadow: 0 0px 12px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: white;
  color: #422800;
  width: 144px;
  height: 53px;
}

.button-map {
  border-radius: 0px 100px 100px 0px;
}

.button-list {
  border-radius: 100px 0px 0px 100px;
}

.btn-group {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
}

.btn-group button:not(:last-child) {
  border-right: none;
  /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.button-clicked {
  background-color: #AF795D !important;
  color: white !important;
}

.btn-gradient {
  display: flex;
  width: fit-content;
  text-transform: uppercase;
  background-color: #d1e751;
  color: white;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 1em;
  font-weight: bold;
  background: linear-gradient(#422800, #AF795D);
  transition: background 0.3s ease;
  border: 1px solid white;
  margin-top: 2.0em;
}

.card-trip .btn-gradient {
  width: 50%;
}

.btn-danger {
  display: flex;
  width: fit-content;
  text-transform: uppercase;
  background-color: #d1e751;
  color: red;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 1em;
  font-weight: bold;
  background: linear-gradient(#422800, #AF795D);
  transition: background 0.3s ease;
  border: 1px solid white;
  width: 10em;
  margin-top: 2.0em;
}

.btn-gradient:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .btn-group button {
    min-width: 120px;
    padding: 0 25px;
  }
}

.btn-left {
  width: 40%;
  text-transform: uppercase;
  background-color: #d1e751;
  color: white;
  margin: auto;
  border-radius: 1.5em;
  font-weight: bold;
  background: linear-gradient(#422800, #AF795D);
  transition: background 0.3s ease;
  border: 1px solid white;
  margin-top: 0.25em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-bottom: 1em;
}
.stars-index-btn {
  width: 40%;
  text-transform: uppercase;
  background-color: #d1e751;
  color: white;
  margin: auto;
  border-radius: 1.5em;
  background: linear-gradient(#422800, #AF795D);
  transition: background 0.3s ease;
  border: 1px solid white;
  margin-top: 2em;
  padding-right: 0.1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-right: 0.3em;
}
.index-name-btn {
  width: auto;
  text-transform: uppercase;
  background-color: #d1e751;
  color: white;
  margin: 0 0 0 0.5em;
  border-radius: 1.5em;
  font-weight: bold;
  background: linear-gradient(#422800, #AF795D);
  transition: background 0.3s ease;
  border: 1px solid white;
  padding-right: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  position: absolute;
  top: 8em;
  // margin-right: 0.3em;
}
.btn-left-icon {
  width: auto;
  text-transform: uppercase;
  background-color: #d1e751;
  color: white;
  margin-bottom: 1.5em;
  margin-left: 0.5em;
  border-radius: 1.5em;
  font-weight: bold;
  background: linear-gradient(#422800, #AF795D);
  transition: background 0.3s ease;
  border: 1px solid white;
  padding: 0.5em;
}
