.filter-group {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.filter {
  margin-left: 3px;
  margin-right: 3px;
  border: 1px solid rgba(145, 134, 134, 0.54);
  box-shadow: 0 0px 12px 0 rgba(0, 0, 0, 0.3);
  line-height: 50px;
  touch-action: manipulation;
  background-color: white;
  width: 30px;
  height: 30px;
}
