.container {
  position: relative;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-login, .btn-login a, .btn-login button {
  text-transform: uppercase;
  align-self: flex-start;
  border: 2px solid #d1e751;
  color: #d1e751 !important;
  margin: 7px;
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-inline: 10px;
  text-decoration: none;
}

.btn-login:hover, .btn-login:hover a, .btn-login:hover button {
  color: black !important;
  border: 2px solid black;
}


.btn-signs {
  text-transform: uppercase;
  align-self: flex-start;
  background-color: #8de751;
  color: white;
  margin: 7px;
  border-radius: 8px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-inline: 10px;
  text-decoration: none;
}

.btn-signs:hover {
  color: black;
  background: #d1e751;
}

.btn-pass {
  color: rgb(178, 36, 36) !important;
}

.specs {
  padding: 10px;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.form-actions .btn-sign {
  align-self: flex-start;
  background-color: #86c831;
  color: white;
  margin: 7px;
  border-radius: 8px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-inline: 10px;
  text-decoration: none;
}

.form-actions .btn-signs:hover {
  color: black;
  text-size-adjust: 0;
}

.container .btn-rent {
  z-index: 5;
}
