.mapDiv>.tab-pane {
  display: block;
  height: 0;
  overflow: hidden;
}

.mapDiv>.active {
  display: block;
  height: auto;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
