.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 4em;
}

.add-button {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 4px;
  width: 20%;
  text-align: center;
  z-index: 100;
}

.add-button i {
  background-color: whitesmoke;
  width: fit-content;
  border-radius: 50%;
  padding: 4px;
}

.fa-cog {
  color: rgba(132, 96, 70, 1);
}

.sticky{
width: 100%;
position:fixed;
bottom: 0px;
z-index: 1020;
}
